
@font-face {
  font-family: 'Angle';
  src: url('Angle.eot?#iefix') format('embedded-opentype'),  url('Angle.woff') format('woff'), url('Angle.ttf')  format('truetype'), url('Angle.svg#Angle') format('svg');
  font-weight: normal;
  font-style: normal;
}
